<style>
    .footer {
        background-color: #131314;
        height: fit-content;
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
    }

    .footer div {
        width: 25vw;
        font-family: "Calibri", sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-left {
        justify-content: flex-start;
        align-items: center;
        color: #efefef;
    }

    .footer-right {
        justify-content: center;
        align-items: flex-end;
        color: #efefef;
    }
</style>
<div class="content footer">
    <div class="footer-left">
        <p>This app is maintained by a single developer, <a href="https://github.com/diamondfrost">diamondfrost</a>.</p>
        <p>The contents of this website are under the terms of the MIT License.</p> 
    </div>
    <div class="footer-right">
        <p>LinkedIn</p>
        <p>Github</p>
    </div>
</div>